RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ 404.html [L]

# Кэширование статических файлов
<FilesMatch "\.(css|js|jpg|jpeg|png|gif|svg|ico|webp)$">
    Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

# Защита от просмотра директорий
Options -Indexes
